## Hola grupo 2!!

Acá tenemos algunos ejercicios para poder practicar para el checkpoint del M1

- Lo primero que hay que hacer es importar las librerías que sean necesarias

In [1]:
import pandas as pd 
import numpy as np

### Ejercicio 1 <br>
Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista y la muestre por pantalla.

In [ ]:
dsgbfusidfgiusd

### Ejercicio 2 <br>
Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista y la muestre por pantalla.<br>
**Ejemplo:** <br>
Yo estudio Matemáticas<br>
Yo estudio Física<br>
Yo estudio Química<br>

In [ ]:
dfbdjkfbdu

### Ejercicio 3 <br>
Escribir una función que muestre por pantalla el saludo ¡Hola grupo 2! cada vez que se la invoque

In [ ]:
asdada

### Ejercicio 4 <br>
Escribir una función que reciba una muestra de números en una lista y devuelva otra lista con sus cuadrados.

### Ejercicio 5 <br>
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

Mes	Ventas	Gastos
Enero	30500	22000
Febrero	35600	23400
Marzo	28300	18100
Abril	33900	20700

### Ejercicio 6 <br>
Escribir un programa que muestre por pantalla el resultado de la siguiente operación aritmética $\left(\frac{3+2}{2* 5}\right)^2$.

### Ejercicio 7<br>
Crear una **Serie** a partir de:
- una lista
- un diccionario

### Ejercicio 8<br>
Crear un DataFrame, a partir de un diccionario, cuyos nombres de columnas sean **Nombre**, **Edad** y **Profesión**. Basado en los siguientes registros:
- Pepe -> 25 años -> Data Analyst
- Carla -> 30 años -> Data Engineer
- Willie -> 55 años -> Data Scientist

### Ejercicio 9 <br>
Extraer los datos de **historical_RAPTOR_by_team.csv**, y mostrar los 10 primeros registros obtenidos en el DataFrame.

### Ejercicio 10 <br>
Del DataFrame anterior, extraer los registros cuyo valor en **season_type** sea **PO** y colocalos en un nuevo DataFrame.

### Ejercicio 11<br>
Crear un arreglo de 10 unos.

### Ejercicio 12<br>
Crear un arreglo de 10 cincos.

### Ejercicio 13<br>
Crear un arreglo con numeros enteros del 10 al 50.